*{
    padding: 0;
    margin: 0;
}

.body{
    align-items: center;
}

.container{
    display:flex;
    flex-direction: column;
    margin: 5px;
}

.item{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.opcion{
    margin-left: 15px;
    padding: 5px;
    font-family: sans-serif;
    font-weight:bold;
}

.entrar{
    margin-right: 15px;
    background-color: white;
    padding: 5px;
    font-family: sans-serif;
    font-weight:bold;
}